@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.container {
  @include m.flex(60px, center, space-between, column);
  position: relative;
  background-image: url('/youtube_red.webp');

  background-size: cover;
  min-height: 100vh;
  padding: 50px 0 0;

  @include m.respond('lg') {
    @include m.flex(60px, center, flex-start, column);
    min-height: auto;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  h2 {
    @include m.typography(54px, 62px, 500, v.$color-cream-light);
    text-align: center;

    @include m.respond('lg') {
      @include m.typography(24px, 32px, 500, v.$color-cream-light);
    }

    span {
      font-weight: 700;
    }
  }

  button {
    @include m.typography(16px, 21px, 500, v.$color-cream-light);
    width: 220px;
    height: 72px;
    background-color: v.$color-red;
    border-radius: 15px;
    border: 2px solid v.$color-cream-light;
    cursor: pointer;
    box-shadow: 0 0 34px 9px #fc4800;
    transition: all 0.5s ease;

    &:hover {
      scale: 1.1;
      transition: all 0.5s ease;
    }
  }
}
