@use 'src/styles/variables' as v;
@use 'src/styles/mixins' as m;

.container {
  @include m.flex(30px, flex-start, center);
  padding: 100px 0;
  background: v.$color-white;

  .left-block {
    @include m.flex(30px, flex-start, center, column);
    padding-top: 30px;

    .contacts {
      @include m.flex(30px, flex-start, center, column);

      a {
        @include m.flex(10px, flex-start, center, column);
        @include m.typography(16px, 20px, 400, v.$color-black);
        color: v.$color-black;
        cursor: pointer;

        div {
          @include m.flex(10px, center, flex-start);
          padding-left: 20px;
        }

        &:hover {
          div {
            @include m.typography(16px, 20px, 400, v.$color-dark-green);
          }
        }
      }
    }

    h1 {
      @include m.typography(57px, 60px, 900, v.$color-black);
      max-width: 600px;

      span {
        color: v.$color-dark-green;
      }
    }
  }

  h2 {
    margin: 10px 0;
  }

  .buttons {
    @include m.flex(50px, center, center);
    width: 100%;
    margin-bottom: 100px;
  }
}
