@use 'src/styles/variables' as v;
@use 'src/styles/mixins' as m;

.container {
  @include m.flex(20px, center, flex-start, column);
  width: 100%;
  max-width: 900px;
  padding: 10px;
  border-radius: 15px;
  background: v.$color-light-grey;

  img {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }

  h3 {
    @include m.typography(27px, 27px, 700, v.$color-dark-blue);
  }

  p {
    @include m.typography(17px, 21px, 400, v.$color-dark-blue);
    max-width: 500px;
    text-align: center;
    margin-bottom: 40px;
  }

  button {
    margin-bottom: 20px;
  }
}
