@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(v.$color-white, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(v.$color-white, 0);
  }
}

@keyframes pulseButton {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.container {
  width: 100vw;
  position: relative;

  @include m.respond('md') {
    min-height: 90vh;
    overflow: hidden;
    background: v.$color-black;
  }

  p {
    @include m.typography(17px, 21px, 300, v.$color-white);
    position: absolute;
    top: 130px;
    left: 50px;

    @include m.respond('lg') {
      top: 100px;
    }

    @include m.respond('md') {
      @include m.typography(16px, 20px, 300, v.$color-white);
      max-width: 360px;
      top: 80px;
    }
  }

  h1 {
    position: absolute;
    top: 150px;
    left: 50px;

    span {
      @include m.typography(107px, 120px, 900, #ffffff00);
      -webkit-text-stroke-width: 2px;
      stroke: v.$color-white;
      -webkit-text-stroke-color: v.$color-white;
      stroke-width: 2px;
    }

    @include m.respond('lg') {
      @include m.typography(80px, 100px, 900, v.$color-white);
      top: 120px;

      span {
        @include m.typography(80px, 100px, 900, #ffffff00);
      }
    }

    @include m.respond('md') {
      @include m.typography(40px, 60px, 900, v.$color-white);
      span {
        @include m.typography(40px, 60px, 900, #ffffff00);
        position: relative;
        z-index: 2;
      }
    }
  }

  .video-button {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    top: 55%;
    left: 65%;

    @include m.respond('lg') {
      top: 23%;
    }

    @include m.respond('md') {
      top: 17%;
    }

    @include m.respond('sm') {
      display: none;
    }

    &:before {
      content: '';
      width: 75px;
      height: 75px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      z-index: -1;
      cursor: pointer;
      box-shadow: 0 0 0 0 rgba(v.$color-white, 0.9);
      animation: pulse 1.5s infinite;

      @include m.respond('md') {
        width: 50px;
        height: 50px;
      }
    }

    svg {
      animation: pulseButton 1.5s infinite;

      @include m.respond('sm') {
        width: 50px;
        height: 50px;
      }
    }

    &:hover {
      svg {
        circle {
          stroke: v.$color-white;
          fill: v.$color-white;
        }

        path {
          fill: v.$color-red;
        }
      }
    }
  }

  .video-bg {
    position: relative;
    width: 100%;
    scale: 1.075;
    z-index: -1;

    @include m.respond('md') {
      width: auto;
      height: auto;
      left: -800px;
      scale: 0.5;
      z-index: 0;
    }
  }
}
