@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.container {
  width: 25vw;
  height: auto;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: v.$color-dark-blue;
    opacity: 0;
    z-index: 1;
    transition: 1s ease all;
  }

  .hover {
    position: absolute;
    width: 100%;
    top: calc(50% - 23px);
    left: 0;
    z-index: 2;
    text-align: center;
    overflow: hidden;

    h4 {
      @include m.typography(24px, 27px, 700, v.$color-white);
      transform: translateY(-60px);
    }

    p {
      @include m.typography(24px, 27px, 500, v.$color-white);
      transform: translateY(60px);
    }

    .line {
      height: 2px;
      background-color: v.$color-white;
      width: 0;
      margin: 0 auto;
    }
  }

  &:hover {
    &::after {
      opacity: 0.7;
    }

    .hover {
      h4 {
        transform: translateY(0);
        transition: all 1s ease;
      }

      p {
        transform: translateY(0);
        transition: all 1s ease;
      }

      .line {
        width: 200px;
        transition: all 1s ease;
      }
    }
  }
}
