//Color
$color-white: #ffffff;
$color-black: #000000;
$color-red: #f7020b;
$color-grey: #818a91;
$color-dark-grey: #7b85a0;
$color-light-grey: #f2f2f2;
$color-dark-purple: #42435c;
$color-green: #1c9e00;
$color-dark-green: #1a6925;
$color-blue: #2196f3;
$color-dark-blue: #131e2c;
$color-cream: #ccc9c9;
$color-cream-light: #f9f6d2;
$color-yellow: #ffdf00;
