@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.container {
  position: relative;
  @include m.flex(50px, center, center, column);
  background: v.$color-light-grey;
  background-size: contain;
  padding: 80px 0;
  top: -10px;
  margin-bottom: -10px;

  h2 {
    font-size: 153px;
    font-weight: 600;
    color: v.$color-dark-blue;
  }

  .projects {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
  }

  .more-button {
    @include m.flex(5px, center, center);
    width: 175px;
    height: 46px;
    background: v.$color-dark-blue;
    padding: 15px 25px;
    border-radius: 30px;
    cursor: pointer;

    p {
      @include m.typography(16px, 16px, 300, v.$color-white);
    }

    &.open {
      display: none;
    }
  }

  .video-reviews {
    display: none;
    width: 95%;

    h3 {
      span {
        font-size: 136px;
        line-height: 130px;
      }

      font-weight: 600;
      font-size: 60px;
      line-height: 40px;

      .small {
        font-size: 50px;
        line-height: 70px;
      }
    }

    .video-list {
      @include m.flex(50px, flex-start, flex-start, row, wrap);
      width: 100%;

      iframe {
        border-radius: 25px;
      }
    }

    &.open {
      @include m.flex(50px, center, center);
    }
  }
}
