@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.container {
  @include m.flex(0, center, center);
  width: 160px;
  height: 160px;
  background: v.$color-white;
  border-radius: 15px;

  @include m.respond('sm') {
    width: 130px;
    height: 130px;
  }

  img {
    max-width: 150px;
    height: auto;

    @include m.respond('sm') {
      width: 100%;
      max-width: 120px;
    }
  }
}
