@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.container {
  @include m.flex(0, center, flex-start, column);
  padding-bottom: 30px;

  > img {
    position: relative;
    width: 100%;
    height: auto;
    top: -90px;
  }

  h1 {
    @include m.typography(90px, 100px, 500);
  }

  .posts {
    @include m.flex(50px, center, center);
    flex-wrap: wrap;

    @include m.respond('md') {
      @include m.flex(50px, center, center, column);
      width: 100%;
      padding: 0 20px;
    }
  }
}
