@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.container {
  @include m.flex(50px, center, flex-start, column);
  padding-bottom: 100px;

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    @include m.typography(107px, 120px, 900);
  }

  .posts {
    @include m.flex(50px, center, flex-start,);
  }
}