@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;

.container {
  @include m.container(20px 50px 20px, #000000cc);
  @include m.flex(0, center, space-between);
  width: 100%;
  position: fixed;
  z-index: 99;

  @include m.respond('sm') {
    position: relative;
    background-color: v.$color-black;
  }

  .nav {
    @include m.flex(0, center, space-between);

    > a {
      padding: 10px 20px;

      &:hover {
        padding-bottom: 7px;
        color: v.$color-green;
        border-bottom: 3px solid v.$color-dark-green;
      }

      &:last-child {
        padding: 0;

        &:hover {
          padding-bottom: 0;
          color: v.$color-green;
          border-bottom: none;
        }
      }
    }

    button {
      margin-left: 5px;

      &:hover {
        > a {
          color: v.$color-black;
        }
      }
    }

    @include m.respond('sm') {
      display: none;
    }
  }

  .nav-mobile,
  .mob-icon {
    display: none;

    @include m.respond('sm') {
      display: block;
    }
  }

  img {
    max-width: 120px;
    height: auto;
  }
}

.nav-mobile {
  @include m.flex(20px, center, center, column);
  width: 100vw;
  height: 100vh;
  background-color: v.$color-black;
  padding: 30px;
}
