@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.container {
  @include m.container(20px 50px, #131e2c);
  @include m.flex(50px, center, flex-end);
  padding-top: 40px;
  height: 350px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: v.$color-gradient-footer;

  @include m.respond('md') {
    @include m.flex(10px, center, flex-start, column);
    width: 100vw;
    height: 500px;
  }

  a {
    @include m.typography(15px, 24px, 500, v.$color-cream);
    padding: 5px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid v.$color-cream;
      border-radius: 10px;
    }
  }

  .copyright {
    position: absolute;
    align-self: flex-end;
    left: 50px;
    bottom: 15px;
    z-index: -1;

    @include m.respond('md') {
      left: 0;
    }

    .logo {
      max-width: 550px;
      height: auto;
      position: absolute;
      left: -50px;
      bottom: -15px;
      z-index: 0;

      @include m.respond('xl') {
        opacity: 0.1;
      }
    }

    .logoSolo {
      max-width: 550px;
      height: auto;
      position: relative;
      left: -50px;
      bottom: -20px;
      z-index: 0;

      @include m.respond('xl') {
        opacity: 0.1;
      }
      @include m.respond('md') {
        left: -150px;
      }
    }

    span {
      @include m.typography(10px, 10px, 100, v.$color-white);
      position: absolute;
      right: 200px;
      bottom: -3px;
    }
  }

  .nav {
    @include m.flex(50px, flex-start, space-between, column);
    position: relative;
    z-index: 2;

    @include m.respond('md') {
      @include m.flex(50px, center, flex-start, column);
    }

    .nav-top-section {
      @include m.flex(50px, flex-start, space-between);
    }

    .main-nav,
    .posts {
      @include m.flex(5px, flex-start, flex-start, column);
    }
  }

  .right-block {
    @include m.flex(20px, center, center, column);
    text-align: center;
    max-width: 500px;
    width: 100%;

    h3 {
      @include m.typography(20px, 30px, 400, v.$color-cream);
      text-transform: uppercase;
    }

    p {
      @include m.typography(15px, 25px, 400, v.$color-cream);
    }

    a:hover {
      @include m.typography(15px, 24px, 500, v.$color-black);
      border: none;
      border-radius: 10px;
    }
  }
}
